{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->

<!--    <title>VIS monitor</title>-->

<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link href={% static "assets/css/store-css/bootstrap.css" %} rel="stylesheet">-->

<!--    &lt;!&ndash; Add custom CSS here &ndash;&gt;-->
<!--    <link href={% static "assets/css/store-css/sb-admin.css" %} rel="stylesheet">-->
<!--    <link rel=stylesheet" href={% static "font-awesome/css/font-awesome.min.css" %}>-->
<!--    <link rel="shortcut icon" type={% static "image/x-icon" %} href={% static "pic/favicon.ico" %}>-->
<!--  </head>-->
<style>
  .table {
  font-size: 13px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
  padding:0;
}







</style>


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <!--เริ่มต้น Card ส่วน Header-->
            <div class="card-header card-header-success">
                <!--เริ่มต้น ส่วนแสดงโลโก้-->
                <div class="card-icon">
                    <i class="material-icons">devices_other</i>
                </div>
                <!--จบ แสดงโลโก้-->
                <!--เริ่มต้นส่วนแสดงหัวข้อในตารางด้านบน-->
                <h4 class="card-title"><h4>VIS Detail แยกตามสถานี</h4></h4>
                <p class="card-category">Last Update 31/05/2020 18:00</p>
                <!--จบ ส่วนแสดงหัวข้อในตารางด้านบน-->
            </div>
            <!--จบ Card ส่วน Header-->
            <!--เริ่มต้น ส่วนแสดงข้อมูลสถานี สถานีที่ 1-->
            <div class="card-body table-responsive">
                <!--เริ่มต้น หัวตาราง สถานีที่ 1-->
                <table class="table table-hover">
                    <tbody>
                    <tr class='clickable-row' title="Click to detail" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <td align="left">
                            <div class="stats"><i class="material-icons align-middle text-success">monitor</i></div>
                        </td>
                        <td align="left">ปตท.อยุธยา เจริญผลอำนาจเจริญ</td>
                        <td align="center">LogAdd : 1</td>
                        <td align="center">IP : 10.10.25.200</td>
                        <td align="center">ON-LINE</td>
                        <td align="center">LAST : 31/05/2020 18:00</td>
                        <td align="center">[เปิด 2 หน้า | 12 มือจ่าย]</td>
                    </tr>
                    </tbody>
                    <!--จบ ข้อมูลในตาราง สถานีที่ 1-->
                </table>
                <div class="collapse" id="collapseExample">
                    <table class="table">
                        <tbody>
                        <thead class="text-warning">
                        <th class="text-center"><h6>Log Address</h6></th>
                        <th align="left"><h6>MWGT</h6></th>
                        </thead>
                        <tr>
                            <td align="center">1</td>
                            <td align="left">LastStatus 06-06/2021 15:00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card-body table-responsive">
                        <div>
                            <table class="table">
                                <tbody>
                                <thead class="text-warning text-center">
                                <th><h6>Status</h6></th>
                                <th><h6>Serial No</h6></th>
                                <th><h6>Pump Log,Nozzles No</h6></th>
                                <th><h6>Software Version</h6></th>
                                <th><h6>Last Connect</h6></th>
                                <th><h6>Battery Status</h6></th>
                                </thead>
                                <tr align="center">
                                    <td>5</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:37</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:32</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:05</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:33</td>
                                    <td>6
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                 <table class="table table-hover">
                    <tbody>
                    <tr class='clickable-row' title="Click to detail" data-toggle="collapse" href="#collapseExample3" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <td align="left">
                            <div class="stats"><i class="material-icons align-middle text-success">monitor</i></div>
                        </td>
                        <td align="left">ส.โชคสันติ </td>
                        <td align="center">LogAdd : 1</td>
                        <td align="center">IP : 10.10.25.200</td>
                        <td align="center">ON-LINE</td>
                        <td align="center">LAST : 31/05/2020 18:00</td>
                        <td align="center">[เปิด 2 หน้า | 12 มือจ่าย]</td>
                    </tr>
                    </tbody>
                    <!--จบ ข้อมูลในตาราง สถานีที่ 1-->
                </table>
                <div class="collapse" id="collapseExample3">
                    <table class="table">
                        <tbody>
                        <thead class="text-warning">
                        <th class="text-center"><h6>Log Address</h6></th>
                        <th align="left"><h6>MWGT</h6></th>
                        </thead>
                        <tr>
                            <td align="center">1</td>
                            <td align="left">LastStatus 06-06/2021 15:00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card-body table-responsive">
                        <div>
                            <table class="table">
                                <tbody>
                                <thead class="text-warning text-center">
                                <th><h6>Status</h6></th>
                                <th><h6>Serial No</h6></th>
                                <th><h6>Pump Log,Nozzles No</h6></th>
                                <th><h6>Software Version</h6></th>
                                <th><h6>Last Connect</h6></th>
                                <th><h6>Battery Status</h6></th>
                                </thead>
                                <tr align="center">
                                    <td>5</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:37</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:32</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:05</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:33</td>
                                    <td>6
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--จบ ปิดท้ายตาราง สถานีที่ 1-->
               <!--เริ่มต้น หัวตาราง สถานีที่ 2-->
                <table class="table table-hover">
                    <tbody>
                    <tr class='clickable-row' title="Click to detail" data-toggle="collapse" href="#collapseExample1" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <td align="left">
                            <div class="stats"><i class="material-icons align-middle text-success">monitor</i></div>
                        </td>
                        <td align="left">หจก.อำนวยการปิโตเลียม</td>
                        <td align="center">LogAdd : 2</td>
                        <td align="center">IP : 10.10.25.200</td>
                        <td align="center">ON-LINE</td>
                        <td align="center">LAST : 31/05/2020 18:00</td>
                        <td align="center">[เปิด 2 หน้า | 12 มือจ่าย]</td>
                    </tr>
                    </tbody>
                    <!--จบ ข้อมูลในตาราง สถานีที่ 1-->
                </table>
                <!--จบ ปิดท้ายตาราง สถานีที่ 2-->
                <!--เริ่มต้น แสดง sub-1 ข้อมูลในตาราง สถานีที่ 2-->
                <div class="collapse" id="collapseExample1">
                    <table class="table">
                        <tbody>
                        <thead class="text-warning">
                        <th class="text-center"><h6>Log Address</h6></th>
                        <th align="left"><h6>MWGT</h6></th>
                        </thead>
                        <tr>
                            <td align="center">1</td>
                            <td align="left">LastStatus 06-06/2021 15:00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card-body table-responsive">
                        <div>
                            <table class="table">
                                <tbody>
                                <thead class="text-warning text-center">
                                <th><h6>Status</h6></th>
                                <th><h6>Serial No</h6></th>
                                <th><h6>Pump Log,Nozzles No</h6></th>
                                <th><h6>Software Version</h6></th>
                                <th><h6>Last Connect</h6></th>
                                <th><h6>Battery Status</h6></th>
                                </thead>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:37</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:32</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:05</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:33</td>
                                    <td>6
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                        <thead class="text-warning">
                        <th class="text-center"><h6>Log Address</h6></th>
                        <th align="left"><h6>MWGT</h6></th>
                        </thead>
                        <tr>
                            <td align="center">2</td>
                            <td align="left">LastStatus 06-06/2021 15:00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card-body table-responsive">
                        <div>
                            <table class="table">
                                <tbody>
                                <thead class="text-warning text-center">
                                <th><h6>Status</h6></th>
                                <th><h6>Serial No</h6></th>
                                <th><h6>Pump Log,Nozzles No</h6></th>
                                <th><h6>Software Version</h6></th>
                                <th><h6>Last Connect</h6></th>
                                <th><h6>Battery Status</h6></th>
                                </thead>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:37</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>5,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:32</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,1</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:03</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,2</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:05</td>
                                    <td>6
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td>1</td>
                                    <td>xxxxxxxxxxxxx</td>
                                    <td>6,3</td>
                                    <td>01.23.25</td>
                                    <td>03.06.2021 08:33</td>
                                    <td>6
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!--จบ ส่วนแสดงข้อมูลสถานี สถานีที่ 1-->


                <!--เริ่มต้น ส่วนแสดงข้อมูลสถานี สถานีที่ 2-->
                <!--                <div>-->
                <!--                    <table class="table table-hover">-->
                <!--                        <tbody>-->
                <!--                        <tr class='clickable-row' data-toggle="collapse" href="#collapseExample1" role="button"-->
                <!--                            aria-expanded="false" aria-controls="collapseExample">-->
                <!--                            <td align="center">-->
                <!--                                <div class="stats"><i class="material-icons align-middle text-success">monitor</i></div>-->
                <!--                            </td>-->
                <!--                            <td align="left">หจก.อำนวยการปิโตเลียม</td>-->
                <!--                            <td align="center">LogAdd : 1</td>-->
                <!--                            <td align="center">IP : 10.10.25.200</td>-->
                <!--                            <td align="center">ON-LINE</td>-->
                <!--                            <td align="center">LAST : 31/05/2020 18:00</td>-->
                <!--                            <td align="center">[เปิด 2 หน้า | 12 มือจ่าย]</td>-->
                <!--                        </tr>-->
                <!--                        </tbody>-->
                <!--                        &lt;!&ndash;จบ ข้อมูลในตาราง สถานีที่ 1&ndash;&gt;-->
                <!--                    </table>-->
                <!--                    &lt;!&ndash;จบ ปิดท้ายตาราง สถานีที่ 1&ndash;&gt;-->
                <!--                    &lt;!&ndash;เริ่มต้น แสดง sub-1 ข้อมูลในตาราง สถานีที่ 1&ndash;&gt;-->
                <!--                    <div class="collapse" id="collapseExample1">-->
                <!--                        <table class="table">-->
                <!--                            <tbody>-->
                <!--                            <thead class="text-warning">-->
                <!--                            <th class="text-center"><h6>Log Address</h6></th>-->
                <!--                            <th align="left"><h6>MWGT</h6></th>-->
                <!--                            </thead>-->
                <!--                            <tr>-->
                <!--                                <td align="center">1</td>-->
                <!--                                <td align="left">LastStatus 06-06/2021 15:00</td>-->
                <!--                            </tr>-->
                <!--                            </tbody>-->
                <!--                        </table>-->
                <!--                        <div class="card-body table-responsive">-->
                <!--                            <div>-->
                <!--                                <table class="table">-->
                <!--                                    <tbody>-->
                <!--                                    <thead class="text-warning text-center">-->
                <!--                                    <th><h6>Status</h6></th>-->
                <!--                                    <th><h6>Serial No</h6></th>-->
                <!--                                    <th><h6>Pump Log,Nozzles No</h6></th>-->
                <!--                                    <th><h6>Software Version</h6></th>-->
                <!--                                    <th><h6>Last Connect</h6></th>-->
                <!--                                    <th><h6>Battery Status</h6></th>-->
                <!--                                    </thead>-->
                <!--                                    <tr align="center">-->
                <!--                                        <td>1</td>-->
                <!--                                        <td>xxxxxxxxxxxxx</td>-->
                <!--                                        <td>5,1</td>-->
                <!--                                        <td>01.23.25</td>-->
                <!--                                        <td>03.06.2021 08:37</td>-->
                <!--                                        <td>6-->
                <!--                                        </td>-->
                <!--                                    </tr>-->
                <!--                                    <tr align="center">-->
                <!--                                        <td>1</td>-->
                <!--                                        <td>xxxxxxxxxxxxx</td>-->
                <!--                                        <td>5,2</td>-->
                <!--                                        <td>01.23.25</td>-->
                <!--                                        <td>03.06.2021 08:03</td>-->
                <!--                                        <td>6-->
                <!--                                        </td>-->
                <!--                                    </tr>-->
                <!--                                    <tr align="center">-->
                <!--                                        <td>1</td>-->
                <!--                                        <td>xxxxxxxxxxxxx</td>-->
                <!--                                        <td>5,3</td>-->
                <!--                                        <td>01.23.25</td>-->
                <!--                                        <td>03.06.2021 08:32</td>-->
                <!--                                        <td>6-->
                <!--                                        </td>-->
                <!--                                    </tr>-->
                <!--                                    <tr align="center">-->
                <!--                                        <td>1</td>-->
                <!--                                        <td>xxxxxxxxxxxxx</td>-->
                <!--                                        <td>6,1</td>-->
                <!--                                        <td>01.23.25</td>-->
                <!--                                        <td>03.06.2021 08:03</td>-->
                <!--                                        <td>6-->
                <!--                                        </td>-->
                <!--                                    </tr>-->
                <!--                                    <tr align="center">-->
                <!--                                        <td>1</td>-->
                <!--                                        <td>xxxxxxxxxxxxx</td>-->
                <!--                                        <td>6,2</td>-->
                <!--                                        <td>01.23.25</td>-->
                <!--                                        <td>03.06.2021 08:05</td>-->
                <!--                                        <td>6-->
                <!--                                        </td>-->
                <!--                                    </tr>-->
                <!--                                    <tr align="center">-->
                <!--                                        <td>1</td>-->
                <!--                                        <td>xxxxxxxxxxxxx</td>-->
                <!--                                        <td>6,3</td>-->
                <!--                                        <td>01.23.25</td>-->
                <!--                                        <td>03.06.2021 08:33</td>-->
                <!--                                        <td>6-->
                <!--                                        </td>-->
                <!--                                    </tr>-->
                <!--                                    </tbody>-->
                <!--                                </table>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--จบ ส่วนแสดงข้อมูลสถานี สถานีที่ 2-->


            </div>


        </div>
    </div>


    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}


    {% endblock javascripts %}

